# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# prisma generated client
/src/generated/prisma

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store